examples/conversions.json
[{"id":"ae52c892.5b9d28","type":"inject","z":"4e1287d2.12fcc8","name":"aquamarine","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"aquamarine","payload":"aquamarine","payloadType":"str","x":172,"y":1139,"wires":[["55b34a9c.335974"]]},{"id":"55b34a9c.335974","type":"chroma","z":"4e1287d2.12fcc8","name":"HEX","outFormat":"hexString","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":373,"y":1190,"wires":[["e803dc27.dc43b","6a36d185.1479c"]]},{"id":"e803dc27.dc43b","type":"debug","z":"4e1287d2.12fcc8","name":"HEX","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":594,"y":1190,"wires":[]},{"id":"6a36d185.1479c","type":"chroma","z":"4e1287d2.12fcc8","name":"RGB String","outFormat":"rgbString","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":393,"y":1258,"wires":[["aae087fe.769428","c5d4453a.83f498"]]},{"id":"aae087fe.769428","type":"debug","z":"4e1287d2.12fcc8","name":"RGB String","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":614,"y":1258,"wires":[]},{"id":"c5d4453a.83f498","type":"chroma","z":"4e1287d2.12fcc8","name":"HSL String","outFormat":"hslString","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":393,"y":1326,"wires":[["1858601a.a3d87","429dd395.ff2f5c"]]},{"id":"1858601a.a3d87","type":"debug","z":"4e1287d2.12fcc8","name":"HSL String","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":614,"y":1326,"wires":[]},{"id":"429dd395.ff2f5c","type":"chroma","z":"4e1287d2.12fcc8","name":"RGB object","outFormat":"rgb","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":393,"y":1394,"wires":[["6f59df1a.2b43c","5e91533d.abbffc"]]},{"id":"6f59df1a.2b43c","type":"debug","z":"4e1287d2.12fcc8","name":"RGB object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":614,"y":1394,"wires":[]},{"id":"5e91533d.abbffc","type":"chroma","z":"4e1287d2.12fcc8","name":"HSL object","outFormat":"hsl","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":393,"y":1462,"wires":[["e7674fe7.d0688","b277b076.a2d18"]]},{"id":"e7674fe7.d0688","type":"debug","z":"4e1287d2.12fcc8","name":"HSL object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":614,"y":1462,"wires":[]},{"id":"b277b076.a2d18","type":"chroma","z":"4e1287d2.12fcc8","name":"HSV object","outFormat":"hsv","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":393,"y":1530,"wires":[["6da8108d.a5973","ae585743.6c0cc8"]]},{"id":"6da8108d.a5973","type":"debug","z":"4e1287d2.12fcc8","name":"HSV object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":614,"y":1530,"wires":[]},{"id":"ae585743.6c0cc8","type":"chroma","z":"4e1287d2.12fcc8","name":"HSI object","outFormat":"hsi","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":393,"y":1598,"wires":[["658ccad.be36634","6c73996b.9f45c8"]]},{"id":"658ccad.be36634","type":"debug","z":"4e1287d2.12fcc8","name":"HSI object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":614,"y":1598,"wires":[]},{"id":"6c73996b.9f45c8","type":"chroma","z":"4e1287d2.12fcc8","name":"LAB object","outFormat":"lab","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":393,"y":1666,"wires":[["64b43267.be2c7c","69c2a563.9f654c"]]},{"id":"64b43267.be2c7c","type":"debug","z":"4e1287d2.12fcc8","name":"LAB object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":614,"y":1666,"wires":[]},{"id":"69c2a563.9f654c","type":"chroma","z":"4e1287d2.12fcc8","name":"LCH object","outFormat":"lch","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":393,"y":1734,"wires":[["1d2e89ec.ae1976","f8d44659.defa48"]]},{"id":"1d2e89ec.ae1976","type":"debug","z":"4e1287d2.12fcc8","name":"LCH object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":614,"y":1734,"wires":[]},{"id":"671a8bb4.7805c4","type":"inject","z":"4e1287d2.12fcc8","name":"orange","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"orange","payload":"orange","payloadType":"str","x":152,"y":1190,"wires":[["55b34a9c.335974"]]},{"id":"f8d44659.defa48","type":"chroma","z":"4e1287d2.12fcc8","name":"CIExyz object","outFormat":"CIExyz","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":403,"y":1802,"wires":[["452d7863.3aec58","9881f37e.8f427"]]},{"id":"452d7863.3aec58","type":"debug","z":"4e1287d2.12fcc8","name":"CIExyz object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":624,"y":1802,"wires":[]},{"id":"41a1b556.96760c","type":"debug","z":"4e1287d2.12fcc8","name":"named","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":594,"y":1938,"wires":[]},{"id":"dbeb9cfe.47498","type":"chroma","z":"4e1287d2.12fcc8","name":"CIExy object","outFormat":"CIExy","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":614,"y":2006,"wires":[["2c655166.c9882e"]]},{"id":"2c655166.c9882e","type":"debug","z":"4e1287d2.12fcc8","name":"CIExy object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":835,"y":2006,"wires":[]},{"id":"9881f37e.8f427","type":"chroma","z":"4e1287d2.12fcc8","name":"RGBW object","outFormat":"rgbw","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":403,"y":1870,"wires":[["adfe4bcd.38b9f8","67c4be0b.ea188"]]},{"id":"adfe4bcd.38b9f8","type":"debug","z":"4e1287d2.12fcc8","name":"RGBW object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":624,"y":1870,"wires":[]},{"id":"67c4be0b.ea188","type":"chroma","z":"4e1287d2.12fcc8","name":"named","outFormat":"name","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":373,"y":1938,"wires":[["dbeb9cfe.47498","41a1b556.96760c","21dc2107.af1cfe","7bfcd8e7.e247a8"]]},{"id":"21dc2107.af1cfe","type":"chroma","z":"4e1287d2.12fcc8","name":"luminace","outFormat":"luminance","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":604,"y":2074,"wires":[["f457e4d4.8f3738"]]},{"id":"f457e4d4.8f3738","type":"debug","z":"4e1287d2.12fcc8","name":"luminace","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":825,"y":2074,"wires":[]},{"id":"7bfcd8e7.e247a8","type":"chroma","z":"4e1287d2.12fcc8","name":"temperature","outFormat":"temperature","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":614,"y":2142,"wires":[["9b37dc35.fbbd8"]]},{"id":"9b37dc35.fbbd8","type":"debug","z":"4e1287d2.12fcc8","name":"temperature","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":835,"y":2142,"wires":[]}]