examples/conversions.json
[{"id":"68a022c.de868dc","type":"group","z":"4e1287d2.12fcc8","name":"conversion test (without alpha)","style":{"label":true},"nodes":["ae52c892.5b9d28","55b34a9c.335974","671a8bb4.7805c4","e803dc27.dc43b","6a36d185.1479c","aae087fe.769428","c5d4453a.83f498","1858601a.a3d87","429dd395.ff2f5c","6f59df1a.2b43c","5e91533d.abbffc","e7674fe7.d0688","b277b076.a2d18","6da8108d.a5973","ae585743.6c0cc8","658ccad.be36634","6c73996b.9f45c8","64b43267.be2c7c","69c2a563.9f654c","1d2e89ec.ae1976","f8d44659.defa48","452d7863.3aec58","9881f37e.8f427","adfe4bcd.38b9f8","67c4be0b.ea188","dbeb9cfe.47498","41a1b556.96760c","21dc2107.af1cfe","7bfcd8e7.e247a8","2c655166.c9882e","f457e4d4.8f3738","9b37dc35.fbbd8","20473b7c.a42184"],"x":73,"y":1285,"w":955,"h":1085},{"id":"ae52c892.5b9d28","type":"inject","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"aquamarine","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"aquamarine","payload":"aquamarine","payloadType":"str","x":189,"y":1326,"wires":[["55b34a9c.335974"]]},{"id":"55b34a9c.335974","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HEX","outFormat":"hexString","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":390,"y":1377,"wires":[["e803dc27.dc43b","6a36d185.1479c"]]},{"id":"671a8bb4.7805c4","type":"inject","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"orange","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"orange","payload":"orange","payloadType":"str","x":169,"y":1377,"wires":[["55b34a9c.335974"]]},{"id":"e803dc27.dc43b","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HEX","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":611,"y":1377,"wires":[]},{"id":"6a36d185.1479c","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"RGB String","outFormat":"rgbString","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":410,"y":1445,"wires":[["aae087fe.769428","c5d4453a.83f498"]]},{"id":"aae087fe.769428","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"RGB String","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":631,"y":1445,"wires":[]},{"id":"c5d4453a.83f498","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HSL String","outFormat":"hslString","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":410,"y":1513,"wires":[["1858601a.a3d87","429dd395.ff2f5c"]]},{"id":"1858601a.a3d87","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HSL String","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":631,"y":1513,"wires":[]},{"id":"429dd395.ff2f5c","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"RGB object","outFormat":"rgb","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":410,"y":1581,"wires":[["6f59df1a.2b43c","5e91533d.abbffc"]]},{"id":"6f59df1a.2b43c","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"RGB object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":631,"y":1581,"wires":[]},{"id":"5e91533d.abbffc","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HSL object","outFormat":"hsl","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":410,"y":1649,"wires":[["e7674fe7.d0688","b277b076.a2d18"]]},{"id":"e7674fe7.d0688","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HSL object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":631,"y":1649,"wires":[]},{"id":"b277b076.a2d18","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HSV object","outFormat":"hsv","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":410,"y":1717,"wires":[["6da8108d.a5973","ae585743.6c0cc8"]]},{"id":"6da8108d.a5973","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HSV object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":631,"y":1717,"wires":[]},{"id":"ae585743.6c0cc8","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HSI object","outFormat":"hsi","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":410,"y":1785,"wires":[["658ccad.be36634","6c73996b.9f45c8"]]},{"id":"658ccad.be36634","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"HSI object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":631,"y":1785,"wires":[]},{"id":"6c73996b.9f45c8","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"LAB object","outFormat":"lab","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":410,"y":1853,"wires":[["64b43267.be2c7c","69c2a563.9f654c"]]},{"id":"64b43267.be2c7c","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"LAB object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":631,"y":1853,"wires":[]},{"id":"69c2a563.9f654c","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"LCH object","outFormat":"lch","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":410,"y":1921,"wires":[["1d2e89ec.ae1976","f8d44659.defa48"]]},{"id":"1d2e89ec.ae1976","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"LCH object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":631,"y":1921,"wires":[]},{"id":"f8d44659.defa48","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"CIExyz object","outFormat":"CIExyz","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":420,"y":1989,"wires":[["452d7863.3aec58","9881f37e.8f427"]]},{"id":"452d7863.3aec58","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"CIExyz object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":641,"y":1989,"wires":[]},{"id":"9881f37e.8f427","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"RGBW object","outFormat":"rgbw","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":420,"y":2057,"wires":[["adfe4bcd.38b9f8","67c4be0b.ea188"]]},{"id":"adfe4bcd.38b9f8","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"RGBW object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":641,"y":2057,"wires":[]},{"id":"67c4be0b.ea188","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"named","outFormat":"name","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":390,"y":2125,"wires":[["dbeb9cfe.47498","41a1b556.96760c","21dc2107.af1cfe","7bfcd8e7.e247a8"]]},{"id":"dbeb9cfe.47498","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"CIExy object","outFormat":"CIExy","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":631,"y":2193,"wires":[["2c655166.c9882e"]]},{"id":"41a1b556.96760c","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"named","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":611,"y":2125,"wires":[]},{"id":"21dc2107.af1cfe","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"luminace","outFormat":"luminance","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":621,"y":2261,"wires":[["f457e4d4.8f3738"]]},{"id":"7bfcd8e7.e247a8","type":"chroma","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"temperature","outFormat":"temperature","array2object":true,"floatOutput":true,"inputRelativeValues":"percent","outputRelativeValues":"percent","x":631,"y":2329,"wires":[["9b37dc35.fbbd8"]]},{"id":"2c655166.c9882e","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"CIExy object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":852,"y":2193,"wires":[]},{"id":"f457e4d4.8f3738","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"luminace","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":842,"y":2261,"wires":[]},{"id":"9b37dc35.fbbd8","type":"debug","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"temperature","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":852,"y":2329,"wires":[]},{"id":"20473b7c.a42184","type":"comment","z":"4e1287d2.12fcc8","g":"68a022c.de868dc","name":"should be same as input","info":"","x":892,"y":2125,"wires":[]}]