examples/interactive scale.json
[{"id":"632ccc79.377e94","type":"inject","z":"4e1287d2.12fcc8","name":"scale init","props":[{"p":"api","v":"[{\"scale\":[\"#fafa6e\",\"#2A4858\"],\"mode\":\"lch\",\"domain\":[0,100]}]","vt":"json"},{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"scale","payload":"1","payloadType":"str","x":162,"y":884,"wires":[["45ad70a8.5d13f","77bc4888.cd7e38"]]},{"id":"45ad70a8.5d13f","type":"chroma","z":"4e1287d2.12fcc8","name":"scale","outFormat":"hexString","array2object":true,"floatOutput":true,"inputRelativeValues":"factor","outputRelativeValues":"factor","x":509,"y":884,"wires":[["884ef2c.308e81","96a1b3bd.0925"]]},{"id":"884ef2c.308e81","type":"debug","z":"4e1287d2.12fcc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":679,"y":833,"wires":[]},{"id":"77bc4888.cd7e38","type":"ui_slider","z":"4e1287d2.12fcc8","name":"","label":"scale","tooltip":"","group":"32bdac54.3c4414","order":1,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":339,"y":952,"wires":[["45ad70a8.5d13f"]]},{"id":"7e52d5fa.65771c","type":"ui_button","z":"4e1287d2.12fcc8","name":"","group":"32bdac54.3c4414","order":2,"width":0,"height":0,"passthru":false,"label":"scale output","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":886,"y":884,"wires":[[]]},{"id":"96a1b3bd.0925","type":"change","z":"4e1287d2.12fcc8","name":"background","rules":[{"t":"set","p":"background","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":699,"y":884,"wires":[["7e52d5fa.65771c"]]},{"id":"caeae9f5.661298","type":"inject","z":"4e1287d2.12fcc8","name":"new scale","props":[{"p":"api","v":"[{\"scale\":[\"red\",\"green\"]},{\"mode\":\"lrgb\"},{\"domain\":[0,100]}]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"scale","x":162,"y":935,"wires":[["45ad70a8.5d13f"]]},{"id":"32bdac54.3c4414","type":"ui_group","name":"chroma scale","tab":"578c6c13.aab894","order":6,"disp":true,"width":"7","collapse":false},{"id":"578c6c13.aab894","type":"ui_tab","name":"chroma example","icon":"dashboard","disabled":false,"hidden":false}]