examples/interactive scale.json
[{"id":"13b478f0.04c5d7","type":"group","z":"4e1287d2.12fcc8","name":"Scale using croma node","style":{"label":true},"nodes":["632ccc79.377e94","45ad70a8.5d13f","884ef2c.308e81","77bc4888.cd7e38","7e52d5fa.65771c","96a1b3bd.0925","caeae9f5.661298"],"x":73,"y":775,"w":926,"h":150},{"id":"632ccc79.377e94","type":"inject","z":"4e1287d2.12fcc8","g":"13b478f0.04c5d7","name":"scale init","props":[{"p":"api","v":"[{\"scale\":[\"#fafa6e\",\"#2A4858\"],\"mode\":\"lch\",\"domain\":[0,100]}]","vt":"json"},{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"scale","payload":"1","payloadType":"str","x":179,"y":816,"wires":[["45ad70a8.5d13f","77bc4888.cd7e38"]]},{"id":"45ad70a8.5d13f","type":"chroma","z":"4e1287d2.12fcc8","g":"13b478f0.04c5d7","name":"scale","outFormat":"hexString","array2object":true,"floatOutput":true,"inputRelativeValues":"factor","outputRelativeValues":"factor","x":526,"y":816,"wires":[["884ef2c.308e81","96a1b3bd.0925"]]},{"id":"884ef2c.308e81","type":"debug","z":"4e1287d2.12fcc8","g":"13b478f0.04c5d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":696,"y":884,"wires":[]},{"id":"77bc4888.cd7e38","type":"ui_slider","z":"4e1287d2.12fcc8","g":"13b478f0.04c5d7","name":"input","label":"scale using node","tooltip":"","group":"32bdac54.3c4414","order":1,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":356,"y":884,"wires":[["45ad70a8.5d13f"]]},{"id":"7e52d5fa.65771c","type":"ui_button","z":"4e1287d2.12fcc8","g":"13b478f0.04c5d7","name":"","group":"32bdac54.3c4414","order":2,"width":0,"height":0,"passthru":false,"label":"node output","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":903,"y":816,"wires":[[]]},{"id":"96a1b3bd.0925","type":"change","z":"4e1287d2.12fcc8","g":"13b478f0.04c5d7","name":"background","rules":[{"t":"set","p":"background","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":716,"y":816,"wires":[["7e52d5fa.65771c"]]},{"id":"caeae9f5.661298","type":"inject","z":"4e1287d2.12fcc8","g":"13b478f0.04c5d7","name":"new scale","props":[{"p":"api","v":"[{\"scale\":[\"red\",\"green\"]},{\"mode\":\"lrgb\"},{\"domain\":[0,100]}]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"scale","x":179,"y":867,"wires":[["45ad70a8.5d13f"]]},{"id":"32bdac54.3c4414","type":"ui_group","name":"chroma scale","tab":"578c6c13.aab894","order":6,"disp":true,"width":"7","collapse":false},{"id":"578c6c13.aab894","type":"ui_tab","name":"chroma example","icon":"dashboard","disabled":false,"hidden":false},{"id":"58fdb33.17e534c","type":"group","z":"4e1287d2.12fcc8","name":"Scale using callback function","style":{"label":true},"nodes":["aa854c3f.d9f66","953ec4b6.577ca8","a064f340.1e63a","9018094a.f43078","f1517e3f.9f1ff","dd45cf1e.2922","64ad3e2f.f5d2b","35e2ccd4.16dfa4"],"x":73,"y":945,"w":595,"h":286},{"id":"aa854c3f.d9f66","type":"inject","z":"4e1287d2.12fcc8","g":"58fdb33.17e534c","name":"scale init","props":[{"p":"api","v":"[{\"scale\":[\"#fafa6e\",\"#2A4858\"],\"mode\":\"lch\",\"domain\":[0,100]}]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"scale","x":179,"y":986,"wires":[["953ec4b6.577ca8"]]},{"id":"953ec4b6.577ca8","type":"chroma","z":"4e1287d2.12fcc8","g":"58fdb33.17e534c","name":"scale","outFormat":"hexString","array2object":true,"floatOutput":true,"inputRelativeValues":"factor","outputRelativeValues":"factor","x":322,"y":986,"wires":[["f1517e3f.9f1ff","dd45cf1e.2922"]]},{"id":"a064f340.1e63a","type":"ui_slider","z":"4e1287d2.12fcc8","g":"58fdb33.17e534c","name":"input","label":"scale callback","tooltip":"","group":"32bdac54.3c4414","order":3,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":152,"y":1122,"wires":[["64ad3e2f.f5d2b"]]},{"id":"9018094a.f43078","type":"ui_button","z":"4e1287d2.12fcc8","g":"58fdb33.17e534c","name":"","group":"32bdac54.3c4414","order":4,"width":0,"height":0,"passthru":false,"label":"callback output","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":522,"y":1122,"wires":[[]]},{"id":"f1517e3f.9f1ff","type":"debug","z":"4e1287d2.12fcc8","g":"58fdb33.17e534c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":492,"y":1054,"wires":[]},{"id":"dd45cf1e.2922","type":"change","z":"4e1287d2.12fcc8","g":"58fdb33.17e534c","name":"","rules":[{"t":"set","p":"scaleFunction","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":542,"y":986,"wires":[[]]},{"id":"64ad3e2f.f5d2b","type":"function","z":"4e1287d2.12fcc8","g":"58fdb33.17e534c","name":"getScaleColor","func":"let scaleFunction = flow.get('scaleFunction');\nif (scaleFunction !== undefined) {\n    var output = {}\n    output.background = scaleFunction(msg.payload).hex();\n    node.status({fill:\"green\",shape:'dot',text:output.background})\n    return output;\n} else {\n    node.status({fill:\"red\",shape:'ring',text:'scaleFunction not found!'})\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":318,"y":1122,"wires":[["35e2ccd4.16dfa4","9018094a.f43078"]]},{"id":"35e2ccd4.16dfa4","type":"debug","z":"4e1287d2.12fcc8","g":"58fdb33.17e534c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":492,"y":1190,"wires":[]}]