examples/mix.json
[{"id":"d15b4833.0f1188","type":"group","z":"4e1287d2.12fcc8","name":"Various inputs","style":{"label":true},"nodes":["d3e254b1.b32fb8","d7c815e0.d81438","7b7436b6.ad9278","d0a63d2f.074d7","748922a.7f30edc","1f89836b.c95c4d","5ddf7df1.28c4a4"],"x":73,"y":435,"w":701,"h":286},{"id":"d3e254b1.b32fb8","type":"chroma","z":"4e1287d2.12fcc8","g":"d15b4833.0f1188","name":"","outFormat":"hexString","array2object":true,"floatOutput":true,"inputRelativeValues":"factor","outputRelativeValues":"factor","x":502,"y":578,"wires":[["7b7436b6.ad9278"]]},{"id":"d7c815e0.d81438","type":"inject","z":"4e1287d2.12fcc8","g":"d15b4833.0f1188","name":"aquamarine","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"aquamarine","payload":"aquamarine","payloadType":"str","x":274,"y":476,"wires":[["d3e254b1.b32fb8"]]},{"id":"7b7436b6.ad9278","type":"debug","z":"4e1287d2.12fcc8","g":"d15b4833.0f1188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":678,"y":578,"wires":[]},{"id":"d0a63d2f.074d7","type":"inject","z":"4e1287d2.12fcc8","g":"d15b4833.0f1188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"hsv","payload":"{\"h\":127,\"s\":0.2,\"v\":0.9}","payloadType":"json","x":229,"y":527,"wires":[["d3e254b1.b32fb8"]]},{"id":"748922a.7f30edc","type":"inject","z":"4e1287d2.12fcc8","g":"d15b4833.0f1188","name":"darken red by 1","props":[{"p":"api","v":"[{\"darken\":[1]}]","vt":"json"},{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"darken","payload":"red","payloadType":"str","x":267,"y":578,"wires":[["d3e254b1.b32fb8"]]},{"id":"1f89836b.c95c4d","type":"inject","z":"4e1287d2.12fcc8","g":"d15b4833.0f1188","name":"scale 6 colors","props":[{"p":"api","v":"[{\"scale\":[\"#fafa6e\",\"#2A4858\"]},{\"mode\":\"lch\"},{\"colors\":6}]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"scale","x":274,"y":680,"wires":[["d3e254b1.b32fb8"]]},{"id":"5ddf7df1.28c4a4","type":"inject","z":"4e1287d2.12fcc8","g":"d15b4833.0f1188","name":"darken last color by 1","props":[{"p":"api","v":"[{\"darken\":[1]}]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"darken","x":253,"y":629,"wires":[["d3e254b1.b32fb8"]]}]