examples/mix.json
[{"id":"d3e254b1.b32fb8","type":"chroma","z":"4e1287d2.12fcc8","name":"","outFormat":"hexString","array2object":true,"floatOutput":true,"inputRelativeValues":"factor","outputRelativeValues":"factor","x":434,"y":544,"wires":[["7b7436b6.ad9278"]]},{"id":"d7c815e0.d81438","type":"inject","z":"4e1287d2.12fcc8","name":"aquamarine","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"aquamarine","payload":"aquamarine","payloadType":"str","x":206,"y":442,"wires":[["d3e254b1.b32fb8"]]},{"id":"7b7436b6.ad9278","type":"debug","z":"4e1287d2.12fcc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":610,"y":544,"wires":[]},{"id":"d0a63d2f.074d7","type":"inject","z":"4e1287d2.12fcc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"hsv","payload":"{\"h\":127,\"s\":0.2,\"v\":0.9}","payloadType":"json","x":161,"y":493,"wires":[["d3e254b1.b32fb8"]]},{"id":"748922a.7f30edc","type":"inject","z":"4e1287d2.12fcc8","name":"darken red by 1","props":[{"p":"api","v":"[{\"darken\":[1]}]","vt":"json"},{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"darken","payload":"red","payloadType":"str","x":199,"y":544,"wires":[["d3e254b1.b32fb8"]]},{"id":"1f89836b.c95c4d","type":"inject","z":"4e1287d2.12fcc8","name":"scale 6 colors","props":[{"p":"api","v":"[{\"scale\":[\"#fafa6e\",\"#2A4858\"]},{\"mode\":\"lch\"},{\"colors\":6}]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"scale","x":206,"y":646,"wires":[["d3e254b1.b32fb8"]]},{"id":"5ddf7df1.28c4a4","type":"inject","z":"4e1287d2.12fcc8","name":"darken by 1","props":[{"p":"api","v":"[{\"darken\":[1]}]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"darken","payloadType":"str","x":206,"y":595,"wires":[["d3e254b1.b32fb8"]]}]